<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="assets/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Intrapps
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
    name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <!-- CSS Files -->
  <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
  <link href="assets/css/paper-dashboard.css?v=2.0.1" rel="stylesheet" />
</head>

<body class="">
  <div id="overlay">
    <div class="cv-spinner">
      <span class="spinner"></span>
    </div>
  </div>
  <div class="wrapper ">
    <!-- sidebar -->
    <div id="sidebar-main" class="sidebar" data-color="blue" data-active-color="danger">
      <%- include('sidebar-main', {"sidebar": page_result.data.sidebar}); %>
    </div>
    <div class="main-panel">
      <!-- navbar -->
      <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-minimize">
              <button id="minimizeSidebar" class="btn btn-icon btn-round">
                <i class="nc-icon nc-minimal-right text-center visible-on-sidebar-mini"></i>
                <i class="nc-icon nc-minimal-left text-center visible-on-sidebar-regular"></i>
              </button>
            </div>
            <div class="navbar-toggle">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <% if(page_result.data.project !== undefined) {%>
            <a id="navbar-title" class="navbar-brand"
              href="/build_add?project_id=<%= page_result.data.project.id %>">Add build application</a>
            <% } else { %>
            <a id="navbar-title" class="navbar-brand"
              href="/build_add?project_id=<%= page_result.data.building.project.id %>">Add build application</a>
            <% } %>
          </div>
        </div>
      </nav>
      <!-- body -->
      <div class="content">
        <!-- Start of card content -->
        <div class="card android">
          <div class="card-header">
            <div class="row">
              <div class="col-12">
                <% if(page_result.data.project !== undefined) {%>
                <h4 class="build-no card-title">Project #<%= page_result.data.project.id %></h4>
                <% } else { %>
                <h4 class="build-no card-title">Project #<%= page_result.data.building.project.id %></h4>
                <% } %>
              </div>
            </div>
            <hr>
          </div>
          <div class="card-body">
            <!-- Project setting information -->
            <form method="post" id="add-build" action="/build_add_execute" enctype="multipart/form-data">
              <div class="row">
                <div class="card-category col-5 col-md-3 card-category">Release Note</div>
                <div class="release-note col-7 col-md-9">
                  <input type='hidden' id="release-note" name="release_note">
                  <div class="form-group">
                    <textarea id="build-release-note" rows="8" cols="160" wrap="soft" minLength="0" maxLength="30000"
                      class="form-control overview" required="true"></textarea>
                  </div>
                </div>
              </div>
              <div class="row">
                <hr>
              </div>
              <div class="row d-flex align-items-center">
                <div class="card-category col-5 col-md-3 card-category">Application file</div>
                <div class="project-overview col-7 col-md-9">
                  <div class="fileinput fileinput-new" data-provides="fileinput">
                    <span class="btn btn-outline-secondary btn-round btn-file">
                      <span class="fileinput-new">ipa or apk</span>
                      <span class="fileinput-exists">Change</span>
                      <input type="file" name="build_app" id="smartphone-app">
                    </span>
                    <span class="fileinput-filename smartphoneapp"></span>
                    <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">&times;</a>
                  </div>
                </div>
              </div>
              <% if(page_result.data.project !== undefined) {%>
              <input type="hidden" name="project_id" value="<%= page_result.data.project.id %>">
              <% } else { %>
              <input type="hidden" name="project_id" value="<%= page_result.data.building.project.id %>">
              <% } %>
            </form>
          </div>
          <% if (page_result.data.sidebar.user_information.authority_content.add !== 0) { %>
          <div class="text-center">
            <button id="update-build" class="btn btn-warning btn-round" data-toggle="modal" data-target="#myModal">
              <i class="far fa-save"></i>&nbspsave
            </button>
          </div>
          <% } %>
          <div class="card-footer">
          </div>
        </div>
      </div>
      <!-- fotter -->
      <footer id="footer" class="footer footer-black  footer-white ">
      </footer>
      <div id="modal"></div>
      <div id="load-modal" data-toggle="modal" data-target="#myModal"></div>
    </div>
    <!--   Core JS Files   -->
    <script src="assets/js/core/jquery.min.js"></script>
    <script>
      $.getScript("assets/js/vendor/common_sidebar.js", () => {
        set_highlight_sidebar('project_list', "sidebar-project-<%= page_result.data.project.id %>");
      });

      $(() => {
        $("#footer").load("assets/include/footer.html", () => {
          set_form_validation('#add-build');
          $("#modal").load("assets/include/modal.html", show_modal_when_onload);
        });
      });

      // show error dialog when load
      show_modal_when_onload = () => {
        $.getScript("assets/js/vendor/common_util.js", () => {
        <% if (error !== undefined && error !== null) { %>
            $("#load-modal").trigger("click");
        <% } %>
            window.onpageshow = function () {
              delete_circle_loading();
            }
        });
      };

      set_form_validation = (id) => {
        $(id).validate({
          highlight: function (element) {
            $(element).closest('.form-group').removeClass('has-success').addClass('has-danger');
            $(element).closest('.form-check').removeClass('has-success').addClass('has-danger');
          },
          success: function (element) {
            $(element).closest('.form-group').removeClass('has-danger').addClass('has-success');
            $(element).closest('.form-check').removeClass('has-danger').addClass('has-success');
            $(element).closest('.form-group').find('label').remove();
          },
          errorPlacement: function (error, element) {
            $(element).closest('.form-group').find('label').remove();
            $(element).closest('.form-group').append(error);
          },
        });
      };

      $("#load-modal").click(() => {
        <% if (error !== undefined && error !== null) { %>
          create_modal('error (<%= error.status %>_<%= error.code %>)',
            '<%= error.message %>', 'close', null);
        <% } %>
      });

      $('#update-build').click(() => {
        let build_release_note_text = $('#build-release-note').val();
        $('#release-note').val(build_release_note_text);
        if ($('#smartphone-app').val() === "") {
          fail_add_build();
          return;
        }
        execute_add_build(() => {
          show_circle_loading();
          $('#add-build').submit();
          remove_modal();
        });
      });

      $(".sidebar-redirect").click(() => {
        show_circle_loading();
      });
    </script>
</body>

</html>
