<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="assets/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Intrapps
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
    name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  <!-- CSS Files -->
  <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
  <link href="assets/css/paper-dashboard.css?v=2.0.1" rel="stylesheet" />
</head>

<body class="">
  <div id="overlay">
    <div class="cv-spinner">
      <span class="spinner"></span>
    </div>
  </div>
  <div class="wrapper ">
    <!-- sidebar -->
    <div id="sidebar-main" class="sidebar" data-color="brown" data-active-color="danger">
      <% if(page_result !== null) { %>
      <%- include('sidebar-main', {"sidebar": page_result.data.sidebar}); %>
      <% } else { %>
      <%- include('sidebar-main', {"sidebar": null}); %>
      <% } %>
    </div>
    <div class="main-panel">
      <!-- navbar -->
      <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-minimize">
              <button id="minimizeSidebar" class="btn btn-icon btn-round">
                <i class="nc-icon nc-minimal-right text-center visible-on-sidebar-mini"></i>
                <i class="nc-icon nc-minimal-left text-center visible-on-sidebar-regular"></i>
              </button>
            </div>
            <div class="navbar-toggle">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <a id="navbar-title" class="navbar-brand"
              href="/project?project_id=<%= page_result.data.project.id %>">Project detail</a>
          </div>
          <% if (page_result.data.sidebar.user_information.authority_content.add !== 0) { %>
          <div class="row">
            <button id="add-build" class="btn top-button-margin btn-round" style="margin-top: 0px;margin-bottom: 0px;">
              <i class="nc-icon nc-simple-add"></i> add app
            </button>
          </div>
          <% } %>
      </nav>
      <!-- body -->
      <div class="content">
        <!-- Start of card content -->
        <div class="card">
          <div class="card-header">
            <div class="row">
              <div class="col-6  col-md-6">
                <h4 class="build-no card-title">Project #<%= page_result.data.project.id %></h4>
              </div>
              <div class="col-6  col-md-6 text-right">
                <% if (page_result.data.sidebar.user_information.authority_content.edit !== 0) { %>
                <button class="btn btn-default btn-icon btn-sm project_edit"
                  data-id="<%= page_result.data.project.id %>">
                  <i class="nc-icon nc-settings-gear-65"></i>
                </button>
                <% } %>
              </div>
            </div>
            <hr>
          </div>
          <div class="card-body">
            <!-- Project setting information -->
            <h6>Project Information</h6>
            <div class="row">
              <div class="card-category col-5 col-md-3 card-category">Project</div>
              <div class="projet-title col-7 col-md-3"><%= page_result.data.project.name %></div>
            </div>
            <div class="row">
              <div class="card-category col-5 col-md-3 card-category">Overview</div>
              <div class="project-overview col-7 col-md-9">
                <%= page_result.data.project.overview %>
              </div>
            </div>
            <% if(page_result.data.project.image_1 !== null
                || page_result.data.project.image_2!== null
                || page_result.data.project.image_3 !== null
                || page_result.data.project.image_4 !== null
                || page_result.data.project.image_5 !== null) { %>
            <div class="row">
              <div class="card-category col-5 col-md-3 card-category">Screen</div>
              <div class="project-overview col-7 col-md-9">
                <ul class="horizontal-list">
                  <% if(page_result.data.project.image_1 !== null) { %>
                  <li class="item">
                    <img class="screen-image" src="<%= screenshot %><%= page_result.data.project.image_1 %>">
                  </li>
                  <% } %>
                  <% if(page_result.data.project.image_2 !== null) { %>
                  <li class="item">
                    <img class="screen-image" src="<%= screenshot %><%= page_result.data.project.image_2 %>">
                  </li>
                  <% } %>
                  <% if(page_result.data.project.image_3 !== null) { %>
                  <li class="item">
                    <img class="screen-image" src="<%= screenshot %><%= page_result.data.project.image_3 %>">
                  </li>
                  <% } %>
                  <% if(page_result.data.project.image_4 !== null) { %>
                  <li class="item">
                    <img class="screen-image" src="<%= screenshot %><%= page_result.data.project.image_4 %>">
                  </li>
                  <% } %>
                  <% if(page_result.data.project.image_5 !== null) { %>
                  <li class="item">
                    <img class="screen-image" src="<%= screenshot %><%= page_result.data.project.image_5 %>">
                  </li>
                  <% } %>
                </ul>
              </div>
            </div>
            <% } %>
            <hr>
            <!-- App Information -->
            <h6>Build history</h6>
            <table id="datatable" class="table table-striped table-bordered dt-responsive">
              <thead>
                <tr>
                  <th class="text-center">Build #</th>
                  <th class="text-center">OS</th>
                  <th class="disabled-sorting text-center">detail</th>
                  <th class="disabled-sorting text-center">icon</th>
                  <th class="text-center">App title</th>
                  <th class="text-center">App ver</th>
                  <th class="text-center">Bundle Id<br>Package Name</th>
                  <th class="text-center">Upload date</th>
                </tr>
              </thead>
              <tbody>
                <% if(Array.isArray(page_result.data.project.build_history) === true) { %>
                <% let build_histories = page_result.data.project.build_history; %>
                <% if(build_histories.length > 0) { %>
                <% build_histories.forEach( build_history => { %>
                <% if(build_history.kind === 0) { %>
                <tr>
                  <td class="build-no"><%= build_history.id %></td>
                  <td class="build-os">iOS</td>
                  <td class="text-center">
                    <button class="btn btn-warning btn-icon btn-sm detail" data-buildid="<%= build_history.id %>">
                      <i class="nc-icon nc-settings-gear-65"></i>
                    </button>
                  </td>
                  <td>
                    <% if(build_history.icon !== null) { %>
                    <img class="app-icon" src="<%= icon %><%= build_history.icon %>">
                    <% } %>
                  </td>
                  <td><%= build_history.app_name %></td>
                  <td><%= build_history.current_version %></td>
                  <td><%= build_history.bundle_id %></td>
                  <td id="upload-date-<%= build_history.id %>"></td>
                </tr>
                <% } else {%>
                <tr>
                  <td class="build-no"><%= build_history.id %></td>
                  <td class="build-os">Android</td>
                  <td class="text-center">
                    <button class="btn btn-warning btn-icon btn-sm detail" data-buildid="<%= build_history.id %>">
                      <i class="nc-icon nc-settings-gear-65"></i>
                    </button>
                  </td>
                  <td>
                    <% if(build_history.icon !== null) { %>
                    <img class="app-icon" src="<%= icon %><%= build_history.icon %>">
                    <% } %>
                  </td>
                  <td><%= build_history.app_name %></td>
                  <td><%= build_history.current_version %></td>
                  <td><%= build_history.package_name %></td>
                  <td id="upload-date-<%= build_history.id %>"></td>
                </tr>
                <% } %>
                <% }); %>
                <% } %>
                <% } %>
              </tbody>
            </table>
          </div>
          <div class="card-footer">
          </div>
          <div id="modal"></div>
          <div id="load-modal" data-toggle="modal" data-target="#myModal"></div>
        </div>
        <!-- End of card content -->
      </div>
      <!-- fotter -->
      <footer id="footer" class="footer footer-black  footer-white ">
      </footer>
    </div>
    <!--   Core JS Files   -->
    <script src="assets/js/core/jquery.min.js"></script>
    <script>
      $.getScript("assets/js/vendor/common_sidebar.js", () => {
        set_highlight_sidebar('project_list', "sidebar-project-<%= page_result.data.project.id %>");
      });

      $(() => {
        $("#footer").load("assets/include/footer.html", () => {
          datatables_setting.initialize_for_applist_in_project('#datatable');
          $("#modal").load("assets/include/modal.html", show_modal_when_onload);
        });
        <% if (Array.isArray(page_result.data.project.build_history) === true) { %>
          <% let build_histories = page_result.data.project.build_history; %>
          <% if (build_histories.length > 0) { %>
            <% build_histories.forEach(build_history => { %>
          $("#upload-date-<%= build_history.id %>").text(new Date("<%= build_history.created %>").toLocaleString());
            <% }); %>
          <% } %>
        <% } %>
      });

      // show error dialog when load
      show_modal_when_onload = () => {
        $.getScript("assets/js/vendor/common_util.js", () => {
        <% if (error !== undefined && error !== null) { %>
            $("#load-modal").trigger("click");
        <% } %>
            window.onpageshow = function () {
              delete_circle_loading();
            }
        });
      };

      $("#load-modal").click(() => {
        <% if (error !== undefined && error !== null) { %>
          create_modal('error (<%= error.status %>_<%= error.code %>)',
            '<%= error.message %>', 'close', null);
        <% } %>
      });

      // Build detail
      $('.detail').click((event) => {
        show_circle_loading();
        let build_id = event.target.parentNode.dataset.buildid;
        window.location.href = "/build?build_id=" + build_id;
      });

      // project edit
      <% if (page_result.data.sidebar.user_information.authority_content.edit !== 0) { %>
        $('.project_edit').click((event) => {
          show_circle_loading();
          let project_id = event.target.parentNode.dataset.id;
          window.location.href = "/project_edit?project_id=" + project_id;
        });
      <% } %>

      <% if (page_result.data.sidebar.user_information.authority_content.add !== 0) { %>
        // add build
        $('#add-build').click(() => {
          show_circle_loading();
          window.location.href = "/build_add?project_id=<%= page_result.data.project.id %>";
        });
      <% } %>

        $(".sidebar-redirect").click(() => {
          show_circle_loading();
        });
    </script>
</body>

</html>
