<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="../assets/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Intrapps
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
    name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  <!-- CSS Files -->
  <link href="../assets/css/bootstrap.min.css" rel="stylesheet" />
  <link href="../assets/css/paper-dashboard.css?v=2.0.1" rel="stylesheet" />
  <link href="https://cdn.quilljs.com/1.0.0/quill.snow.css" rel="stylesheet">
</head>

<body class="">
  <div id="overlay">
    <div class="cv-spinner">
      <span class="spinner"></span>
    </div>
  </div>
  <div class="wrapper ">
    <!-- sidebar -->
    <div id="sidebar-main" class="sidebar" data-color="brown" data-active-color="danger">
      <%- include('sidebar-main', {"sidebar": page_result.data.sidebar}); %>
    </div>
    <div class="main-panel">
      <!-- navbar -->
      <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-minimize">
              <button id="minimizeSidebar" class="btn btn-icon btn-round">
                <i class="nc-icon nc-minimal-right text-center visible-on-sidebar-mini"></i>
                <i class="nc-icon nc-minimal-left text-center visible-on-sidebar-regular"></i>
              </button>
            </div>
            <div class="navbar-toggle">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <a id="navbar-title" class="navbar-brand" href="/report_add?build_id=<%= build_id %>">Add report</a>
          </div>
        </div>
      </nav>
      <!-- body -->
      <div class="content">
        <!-- Start of card content -->
        <div class="card">
          <div class="card-header">
            <div class="row">
            </div>
          </div>
          <div class="card-body">
            <!-- Project setting information -->
            <form id="comment" method="post" action="/report_add_execute">
              <div class="row">
                <div class="card-category col-12 col-md-3 card-category">Report</div>
                <div class="col-12 col-md-9">
                  <div class="form-group">
                    <input type='hidden' id="report-note" name="report_note">
                    <div id="editor" style="height: 160px;">
                    </div>
                    <p id="error-text" class="text-danger"></p>
                  </div>
                </div>
              </div>
              <input type="hidden" id="build-id" name="build_id" value="<%= build_id %>">
            </form>
          </div>
          <div class="text-center">
            <% if (page_result.data.sidebar.user_information.authority_content.add !== 0) { %>
            <button id="save-comment" class="btn btn-danger btn-round" data-toggle="modal" data-target="#myModal">
              <i class="nc-icon nc-check-2"></i>&nbsp&nbspsave
            </button>
            <% } %>
          </div>
          <div class="card-footer">
          </div>
        </div>
      </div>
      <!-- fotter -->
      <footer id="footer" class="footer footer-black  footer-white ">
        <%- include('footer'); %>
      </footer>
      <div id="modal">
        <%- include('modal'); %>
      </div>
      <div id="load-modal" data-toggle="modal" data-target="#myModal"></div>
      <div id="click-modal" data-toggle="modal" data-target="#myModal"></div>
    </div>
    <%- include('script'); %>
    <script>
      $.getScript("assets/js/vendor/common_sidebar.js", () => {
        inherit_sidebar_setting();
      });
      $.getScript("assets/js/vendor/common_validation.js");

      $(() => {
        show_modal_when_onload();
        $("#report-note").val(null);
      });

      // show error dialog when load
      show_modal_when_onload = () => {
        $.getScript("assets/js/vendor/common_util.js", () => {
        <% if (error !== undefined && error !== null) { %>
            $("#load-modal").trigger("click");
        <% } %>
            window.onpageshow = function () {
              delete_circle_loading();
            }
        });
      };

      var quill = new Quill('#editor', {
        modules: {
          toolbar: [
            ['bold', 'italic'],
            ['link', 'blockquote', 'image'],
            [{ list: 'ordered' }, { list: 'bullet' }]
          ]
        },
        theme: 'snow'
      });

      $("#load-modal").click(() => {
        <% if (error !== undefined && error !== null) { %>
          create_modal('error (<%= error.status %>_<%= error.code %>)',
            '<%= error.message %>', 'close', null);
        <% } %>
      });

      $("#click-modal").click(() => {
        execute_add_comment(() => {
          show_circle_loading();
          $("form").submit();
          remove_modal();
        });
      });

      <% if (page_result.data.sidebar.user_information.authority_content.add !== 0) { %>
        $('#save-comment').click(() => {
          $("#report-note").val((quill.container.firstChild.innerHTML));
          // no text
          if ((quill.container.firstChild.textContent).length === 0) {
            $("#error-text").html("Report text is mandatory.");
            failed_add_comment();
            return;
          }
          // over text
          if (get_byte_length(quill.container.firstChild.innerHTML) >= 104857600) {
            // over 100mb
            $("#error-text").html("Report content size is over.");
            failed_add_comment();
            return;
          }
          $("#click-modal").trigger("click");
        });
      <% } %>

        $(".sidebar-redirect").click(() => {
          show_circle_loading();
        });

      get_byte_length = (content) => {
        content = (content == null) ? "" : content;
        return encodeURI(content).replace(/%../g, "*").length;
      }
    </script>
</body>

</html>
