<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="assets/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Intrapps
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
    name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  <!-- CSS Files -->
  <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
  <link href="assets/css/paper-dashboard.css?v=2.0.1" rel="stylesheet" />
</head>

<body class="">
  <div id="overlay">
    <div class="cv-spinner">
      <span class="spinner"></span>
    </div>
  </div>
  <div class="wrapper ">
    <!-- sidebar -->
    <div id="sidebar-main" class="sidebar" data-color="brown" data-active-color="danger">
      <% if(page_result !== null) { %>
      <%- include('sidebar-main', {"sidebar": page_result.data.sidebar}); %>
      <% } else { %>
      <%- include('sidebar-main', {"sidebar": null}); %>
      <% } %>
    </div>
    <div class="main-panel">
      <!-- navbar -->
      <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-minimize">
              <button id="minimizeSidebar" class="btn btn-icon btn-round">
                <i class="nc-icon nc-minimal-right text-center visible-on-sidebar-mini"></i>
                <i class="nc-icon nc-minimal-left text-center visible-on-sidebar-regular"></i>
              </button>
            </div>
            <div class="navbar-toggle">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <a id="navbar-title" class="navbar-brand" href="/user_add">Add user</a>
          </div>
        </div>
      </nav>
      <!-- body -->
      <div class="content">
        <!-- Start of card content -->
        <div class="card">
          <div class="card-header">
            <div class="row">
              <div class="col-6">
                <h4 class="card-title">Add user</h4>
              </div>
            </div>
          </div>
          <div class="card-body">
            <form id="user-data" name="user_data" action="/user_add_execute" method="post"
              enctype="multipart/form-data">
              <div class="row d-flex align-items-center">
                <div class="card-category col-3 card-category">Username *</div>
                <div class="col-9">
                  <div class="form-group">
                    <input id="user-name" name="user_name" type="text" minLength="6" maxLength="100"
                      class="form-control" placeholder="Username" required="true" />
                  </div>
                </div>
              </div>
              <br>
              <div class="row d-flex align-items-center">
                <div class="card-category col-3 card-category">Password *</div>
                <div class="col-9">
                  <div class="form-group">
                    <input id="user-password" name="user_password" minLength="6" maxLength="100" type="password"
                      class="form-control" placeholder="Password" required="true" />
                  </div>
                </div>
              </div>
              <br>
              <div class="row d-flex align-items-center">
                <div class="card-category col-3 card-category">Last name *</div>
                <div class="col-9">
                  <div class="form-group">
                    <input id="user-firstname" name="user_firstname" minLength="1" maxLength="100" type="text"
                      class="form-control" placeholder="First Name" required="true" />
                  </div>
                </div>
              </div>
              <br>
              <div class="row d-flex align-items-center">
                <div class="card-category col-3 card-category">First name *</div>
                <div class="col-9">
                  <div class="form-group">
                    <input id="user-lastname" name="user_lastname" minLength="1" maxLength="100" type="text"
                      class="form-control" placeholder="Last Name" required="true" />
                  </div>
                </div>
              </div>
              <br>
              <div class="row d-flex align-items-center">
                <div class="card-category col-3 card-category">E-mail address *</div>
                <div class="col-9">
                  <div class="form-group">
                    <input id="user-email" name="user_email" minLength="6" maxLength="100" type="email"
                      class="form-control" placeholder="E-mail" required="true" />
                  </div>
                </div>
              </div>
              <br>
              <div class="row d-flex align-items-center">
                <div class="card-category col-3 card-category">Authority *</div>
                <div class="col-9">
                  <select class="selectpicker" name="user_authority" data-size="3"
                    data-style="btn btn-round btn-default" title="authority">
                    <option value="0" selected>admin</option>
                    <option value="1">user</option>
                    <option value="2">tester</option>
                  </select>
                </div>
              </div>
              <br>
              <hr>
              <br>
              <div class="row">
                <div class="col-6">
                  <h6 class="card-title">Project activation</h6>
                </div>
              </div>
              <!-- Project Information -->
              <div class="toolbar row">
                <!--        Here you can write extra buttons/actions for the toolbar              -->
              </div>
              <table id="datatable-projects" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                  <tr>
                    <th class="text-center">Project Name</th>
                    <th class="text-center" style="max-width: 100px;">ON/OFF</th>
                  </tr>
                </thead>
                <tbody>
                  <% if( Array.isArray( page_result.data.projects_of_vendor) ) { %>
                  <% page_result.data.projects_of_vendor.forEach(project => { %>
                  <tr>
                    <td><%= project.name %></td>
                    <td class="text-center" style="width: 100px;">
                      <input class="bootstrap-switch app-projects" data-projectid="<%= project.id %>" type="checkbox"
                        data-toggle="switch" checked data-on-label="<i class='nc-icon nc-check-2'></i>"
                        data-off-label="<i class='nc-icon nc-simple-remove'></i>" data-on-color="success"
                        data-off-color="success" />
                    </td>
                  </tr>
                  <% }); %>
                  <% } %>
                </tbody>
              </table>
            </form>
            <br>
            <div class="text-center">
              <button class="btn btn-danger btn-round" id="save-user-data" data-toggle="modal" data-target="#myModal">
                <i class="nc-icon nc-check-2"></i>&nbsp&nbspSave
              </button>
            </div>
            <div class="card-footer text-center">
            </div>
          </div>
        </div>
        <!-- fotter -->
        <footer id="footer" class="footer footer-black  footer-white ">
          <%- include('footer'); %>
        </footer>
        <div id="modal">
          <%- include('modal'); %>
        </div>
        <div id="load-modal" data-toggle="modal" data-target="#myModal"></div>
      </div>
    </div>
    <%- include('script'); %>
    <script>
      $.getScript("assets/js/vendor/common_sidebar.js", () => {
        inherit_sidebar_setting();
      });
      $.getScript("assets/js/vendor/common_util.js");


      $(() => {
        datatables_setting.initialize_for_projectlist_in_user_add('#datatable-projects');
        show_modal_when_onload();
        $.getScript("assets/js/vendor/common_validation.js", () => {
          set_form_validation('#user-data');
        });
      });

      // show error dialog when load
      show_modal_when_onload = () => {
        $.getScript("assets/js/vendor/common_util.js", () => {
        <% if (error !== undefined && error !== null) { %>
            $("#load-modal").trigger("click");
        <% } %>
            window.onpageshow = function () {
              delete_circle_loading();
            }
        });
      };

      $("#load-modal").click(() => {
        <% if (error !== undefined && error !== null) { %>
          create_modal('error (<%= error.status %>_<%= error.code %>)',
            '<%= error.message %>', 'close', null);
        <% } %>
      });

      $('#save-user-data').click(() => {
        if (check_validation_result($("#user-name"))
          && check_validation_result($("#user-password"))
          && check_validation_result($("#user-email"))
          && check_validation_result($("#user-firstname"))
          && check_validation_result($("#user-lastname"))) {

          set_save_user_information_modal(() => {
            // set post data in form
            let counter = 0;

            // set hidden parameter to send on and off data for each project.
            $(".app-projects").each((index, element) => {
              // create hidden tag
              let project_id = element.dataset.projectid;
              let project_id_tag = '<input type="hidden" name="user_manage_projects[' + counter
                + '][id]" value="' + project_id + '" />';
              let project_checked = element.checked;
              let project_checked_tag = '<input type="hidden" name="user_manage_projects[' + counter
                + '][checked]" value="' + project_checked + '" />';

              // append tag in form
              $('#user-data').append(project_id_tag);
              $('#user-data').append(project_checked_tag);
              counter++;
            });

            show_circle_loading();

            // execute post
            $('#user-data').submit();
          });
        }
      });

      set_form_validation = (id) => {
        $(id).validate({
          highlight: function (element) {
            $(element).closest('.form-group').removeClass('has-success').addClass('has-danger');
            $(element).closest('.form-check').removeClass('has-success').addClass('has-danger');
          },
          success: function (element) {
            $(element).closest('.form-group').removeClass('has-danger').addClass('has-success');
            $(element).closest('.form-check').removeClass('has-danger').addClass('has-success');
            $(element).closest('.form-group').find('label').remove();
            // develop original validation check because jquery validate plugin of addmetod doesn't work..
            // I don't know why of it.
            if ($(element).attr('id') === 'user-name-error') {
              if (half_size_check($("#user-name").val()) === false) {
                display_check_error(half_size_check_error_comment, $("#user-name"));
              }
            }
            if ($(element).attr("id") === "user-password-error") {
              if (password_check($("#user-password").val()) === false) {
                display_check_error(password_check_error_comment, $("#user-password"));
              }
            }
            if ($(element).attr('id') === 'user-postal-code-error') {
              if (numeric_error_check($("#user-postal-code").val()) === false) {
                display_check_error(numeric_error_check_comment, $("#user-postal-code"));
              }
            }
            if ($(element).attr('id') === 'user-tel-error') {
              if (numeric_error_check($("#user-tel").val()) === false) {
                display_check_error(numeric_error_check_comment, $("#user-tel"));
              }
            }
          },
          errorPlacement: function (error, element) {
            $(element).closest('.form-group').find('label').remove();
            $(element).closest('.form-group').append(error);
          },
        });
      };

      $(".sidebar-redirect").click(() => {
        show_circle_loading();
      });
    </script>
</body>

</html>
